<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>DevOps</h2>
    <p>Docker, CI/CD, Automation System, Salt, Nagios, Ansible, Jenkins etc.</p>
  </div>
  <div class="tech">
    <h2>SysOps</h2>      
    <p>Windows Servers, RedHat, CentOs, Powershell, Bash</p>
  </div>
  <div class="tech">
    <h2>Cloud</h2>
    <p>AWS, IBM Cloud, Azure, I have experience in all cloud systems.</p>
  </div>
  <div class="tech">
    <h2>Programming</h2>
    <p>Python, C#, Powershell</p>
  </div>
</div>
