<div class="author">
  <div class="container">
    <div class="media-object">
      <div class="media-object__media">
        <img class="img img--circle" src="{{ "/assets/yusuf.tezcan.jpg" |
        absolute_url }}" alt="">
      </div>
      <div class="media-object__body">
        <h2 class="author__name">Yusuf TEZCAN</h2>
        I'm a System Administrator who always wants learn something. I like to
        share what I know on <strong>Powershell</strong>,
        <strong>Cloud</strong> and <strong>Automation</strong>.
      </div>
    </div>
  </div>
</div>
