<div class="email-signup">
  <div class="container">
    <h2 class="email-signup__title">
      Get more content like this right in your inbox.
    </h2>
    <form
      class="email-signup__form"
      action="https://github.us2.list-manage.com/subscribe/post?u=b4c4ee8a8c33250fa58d14130&amp;id=2acad5d232"
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      novalidate
    >
      <div
        class="email-signup__alert email-signup__alert--error"
        id="mce-error-response"
        style="display: none"
      ></div>
      <div
        class="email-signup__alert email-signup__alert--success"
        id="mce-success-response"
        style="display: none"
      ></div>
      <div class="email-signup__groups">
        <div class="email-signup__group">
          <label class="email-signup__label" for="mce-EMAIL"
            >Your Email Address*</label
          >
          <input
            class="email-signup__input"
            type="email"
            name="EMAIL"
            id="mce-EMAIL"
          />
        </div>
        <div class="email-signup__group">
          <label class="email-signup__label" for="mce-FNAME"
            >Your First Name</label
          >
          <input
            class="email-signup__input"
            type="text"
            name="FNAME"
            id="mce-FNAME"
          />
        </div>
      </div>
      <div style="position: absolute; left: -5000px" aria-hidden="true">
        <input
          type="text"
          name="b_b4c4ee8a8c33250fa58d14130_2acad5d232"
          value=""
          tabindex="-1"
        />
      </div>
      <button
        class="email-signup__submit"
        type="submit"
        name="subscribe"
        id="mc-embedded-subscribe"
      >
        Subscribe
      </button>
    </form>
  </div>
</div>
